Django==3.1.7
django-allauth==0.44.0
django-guardian==1.4.1
django-social-auth==0.7.28
django-userena==2.0.1
et-xmlfile==1.1.0
lxml==4.6.4
mysql-connector==2.2.9
mysql-connector-python==8.0.27
openpyxl==3.0.9
pipenv==2020.11.15
PyMySQL==1.0.2
virtualenv==20.4.3
virtualenv-clone==0.5.4
