{% load static %}
{% load humanize %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cuentas por cobrar</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <div class="container mt-3">
        <div class="container col-lg-4 mb-1 card card-body">
            <h3 class="text-center">Buscar venta</h3>
            <input type="search" id="buscar" class="form-control" placeholder="Escribe lo que deseas buscar..." />
        </div>
        <form action="exportar_vta_excel" method="POST" class="mt-3 mb-3">
            <button type="button" class="btn btn-success">
                Descargar
                <i class="bi bi-file-earmark-spreadsheet-fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-spreadsheet-fill" viewBox="0 0 16 16">
                        <path d="M6 12v-2h3v2H6z"/>
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM3 9h10v1h-3v2h3v1h-3v2H9v-2H6v2H5v-2H3v-1h2v-2H3V9z"/>
                    </svg>
                </i>
            </button>
        </form>
        <div class="table-wrapper-scroll-y my-custom-scrollbar text-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Fecha de pago de factura</th>
                        <th>Contrarecibo</th>
                        <th>Fecha de recibo de pago</th>
                        <th>Sp</th>
                        <th>Oc</th>
                        <th>Fecha</th>
                        <th>Nombre de producto</th>
                        <th>medida</th>
                        <th>Pozo</th>
                        <th>Total de servicios</th>
                        <th>Precio unitario</th>
                        <th>Subtotal USD</th>
                        <th>IVA</th>
                        <th>Total USD por servicio</th>
                        <th>Monto total</th>
                        <th>Num. factura</th>
                        <th>Fecha de factura</th>
                        <th>Recibo de pago (factura McGreen)</th>
                        <th>Fecha de pago</th>
                        <th>Dólares</th>
                        <th>Monto m x p</th>
                        <th>Monto m x p pagado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mov in movimientos %}
                        <tr>
                            <td>{{ mov.0 }}</td>
                            <td>{{ mov.1 }}</td>
                            <td>{{ mov.2 }}</td>
                            <td>{{ mov.3 }}</td>
                            <td>{{ mov.4 }}</td>
                            <td>{{ mov.5 }}</td>
                            <td>{{ mov.6 }}</td>
                            <td>{{ mov.7 }}</td>
                            <td>{{ mov.8 }}</td>
                            <td>{{ mov.9 }}</td>
                            <td>{{ mov.10 }}</td>
                            <td>$ {{ mov.11|floatformat:2 }}</td>
                            <td>$ {{ mov.12|floatformat:2 }}</td>
                            <td>$ {{ mov.13|floatformat:2 }}</td>
                            <td>$ {{ mov.14|floatformat:2 }}</td>
                            <td>$ {{ mov.15|floatformat:2 }}</td>
                            <td>{{ mov.16 }}</td>
                            <td>{{ mov.17 }}</td>
                            <td>{{ mov.18 }}</td>
                            <td>{{ mov.19 }}</td>
                            <td>{{ mov.20 }}</td>
                            <td>$ {{ mov.21|floatformat:2 }}</td>
                            <td>$ {{ mov.22|floatformat:2 }}</td>
                            <td>$ {{ mov.23|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <input type="button" id="btnRegresar" value="Regresar" onclick="location.href='{% url 'movimientos' %}'" class="btn btn-success">
    </div>
    <footer class="text-center">
        <p>Derechos reservados <strong>Fluidos McGreen de México S.A de C.V</strong></p>
        <p>Fecha: {% now 'd \d\e F \d\e\l Y' %}</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
